




header{

background-color: red;
color: gold;
height: 40px;
width: 100%;

}
Body{
  margin: 0;

  background-color: lightblue ;
}


.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-container {
  margin: 20px;
}

img{
width: 350px;
height: 200px;

}

/* styles.css */

/* ... your existing styles ... */

.product-image:hover {
  background-color: #ccc; /* Change to gray background color */
  transform: scale(1.1); /* Increase the size by 10% */
  transition: background-color   0.3s ease, transform 0.3s ease; /* Add a smooth transition */
}
